body {
    font-family: 'Arial', sans-serif;
}

header {
    display: none;
}

footer {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #4c4c4c;
}

.stApp {
    background-color: #f5f5f5;
}

.sidebar .sidebar-content {
    background-color: #2b2b2b;
    color: #ffffff;
}

.sidebar .sidebar-content a {
    color: #ffffff;
}

.sidebar .sidebar-content a:hover {
    color: #1e90ff;
}

.sidebar .sidebar-content .element-container {
    padding: 10px;
}
